body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS','Times New Roman', Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
}

.chordSvg{
  width: 200px;
  height: 220px;
}
.chordRect{
  width: 100px;
  height: 100px;
  fill:none;
  stroke:#666;
  stroke-width:2;
}
.chordGird{
  stroke: #666;
  stroke-width: 2;
  fill: none;
}
.chordForbidden,.chordBlankCircle{
  stroke: #666;
  stroke-width: 1;
  fill: none;
}
.chordBlockCircle{
  fill: #333;
}
.chordBarre{
  height: 16px;
  fill:#333;
}
.chordBarreFret{
  fill:#333;
  font-size: 14px;
  font-weight: 700;
}
.chordStringKey{
  fill:#333;
  font-size: 10px;
  font-weight: 700;
}
.chordName{
  fill:#333;
  font-size: 20px;
  font-weight: 700;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media screen and (max-width: 700px) {
  .chordSvg{
    width: 140px;
    height: 155px;
  }
}
@media screen and (max-width: 320px) {
  .chordSvg{
    width: 120px;
    height: 135px;
  }
}
